@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

/*
Fonte padrão: Inika

-- Navbar: 30px (máx)
-- Títulos das sections: 45px (máx)
-- Parágrafos das sections: 25px (máx)
-- Informações das sections: 20px (máx)
*/

:root{
    --Link-hover: #A9A9DE;
    --Azul-claro: #175DFC;
    --Azul-escuro: #00007B;
    --Amarelo: #F2EF38;
    --Rosa: #FF3EAB;
    --Branco: #FFFFFF;
    --Preto: #000000;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inika', serif;
    color: var(--Branco);
}

h1{
    letter-spacing: 2px;
}

body{
    background-color: rgb(99, 99, 99);
}

/* HEADER */
header{
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px 0 100px;
    background-color: var(--Preto);
}

#logo{
    width: 85px;
    height: 85px;
}

nav{
    display: flex;
    gap: 60px;
}

.nav-link{
    font-size: 30px;

}

.nav-link:hover{
    color: var(--Amarelo);
    text-decoration: underline;
}



/* MAIN */
/* Primeira section */
#sec-first{
    height: 450px;
}

img#img-ong{
    width: 100%;
    height: 100%;
}

/* Segunda section */
#sec-second{
    display: flex;
    justify-content: center;
    padding: 60px 0 90px 0;
    background-color: var(--Azul-claro);
}

#content-sec-second{
    width: 1086px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

#content-sec-second > h1{
    font-size: 45px;
}

#content-sec-second > p{
    font-size: 25px;
}

/* Terceira section */
#sec-third{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: var(--Azul-escuro);
}

#sec-third > h1{
    font-size: 45px;
}

#todas-acoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.duo{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.acao-solo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p.acao-subtitulo{
    font-size: 25px;
    text-align: center;
}

.acao-imgs{
    display: flex;
    gap: 30px;
}

.img-da-acao{
    width: 200px;
    height: 250px;
}

p#sec-third-info{
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
}

#sec-third-info > a:hover{
    color: var(--Link-hover);
    text-decoration: underline;
}

/* Quarta section */
#sec-fourth{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Rosa);
}

#container-sec-fourth{
    display: flex;
    gap: 100px;
}

.content-sec-fourth{
    width: 490px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#como-voluntariar{
    width: 400px; /* Foi criado esse id porque estava ficando com um impressão de uma caixa maior que a outra porque uma o conteundo ocupava toda a caixa enquanto a outra quase toda. */
}

.subtitulo-sec-fourth{
    font-size: 30px;
    text-align: center;
}

p.paragrafo-sec-fourth{
    font-size: 25px;
    text-align: center;
}

span.info-de-destaque, .info-insta{
    color: var(--Amarelo);
    
}

.info-insta:hover{
    color: var(--Link-hover);
    text-decoration: underline;
}

#linha-divisoria{
    width: 3px;
    border-radius: 2px;
    background-color: var(--Branco);
}

/* Quinta section */
#sec-fifth{
    display: flex;
    justify-content: center;
    padding: 60px 0 50px 0;
    background-color: var(--Azul-claro);
}

#sec-fifth-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sec-fifth-titulo{
    font-size: 40px;
}

iframe{
    width: 800px;
    height: 335px;
    border: 2px solid var(--Branco);
    border-radius: 5px;
    margin: 30px 0 10px 0;
}

#sec-fifth-info{
    font-size: 20px;
}



/* FOOTER */
#footer{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Preto);
}

#container-footer{
    display: flex;
    gap: 200px;
}

#box-representantes{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

#img-representantes{
    width: 325px;
    height: 335px;
    object-fit: cover;
    border-radius: 10px;
}

#contato-duo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contato-solo{
    text-align: center;
}

.titulos-footer{
    font-size: 30px;
    margin-bottom: 10px;
}

.info-redes-e-telefone{
    display: flex;
    align-items: center;
}

.p-footer{
    font-size: 20px;
}

.span-footer{
    letter-spacing: 2px;
    font-weight: 600;
}

.rede-social-link:hover{
    color: var(--Link-hover);
    text-decoration: underline;
}