@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

/*
Fonte padrão: Inika

-- Navbar: 30px (máx)
-- Títulos das sections: 45px (máx)
-- Parágrafos das sections: 25px (máx)
-- Informações das sections: 20px (máx)
*/

:root{
    --Azul-claro: #175DFC;
    --Azul-escuro: #00007B;
    --Amarelo: #F2EF38;
    --Rosa: #FF3EAB;
    --Branco: #FFFFFF;
    --Preto: #000000;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inika', serif;
    color: var(--Branco);
}

body{
    background-color: rgb(99, 99, 99);
}

/* HEADER */
header{
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 230px 0 160px;
    background-color: var(--Preto);
}

#logo{
    width: 90px;
    height: 90px;
}

nav{
    display: flex;
    gap: 80px;
}

.nav-link{
    font-size: 30px;

}

.nav-link:hover{
    color: var(--Amarelo);
    text-decoration: underline;
}



/* MAIN */
/* Primeira section */
#sec-first{
    height: 524px;
}

img#img-ong{
    width: 100%;
    height: 100%;
}

/* Segunda section */
#sec-second{
    height: 413px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Azul-claro);
}

#content-sec-second{
    width: 1086px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

#content-sec-second > h1{
    font-size: 45px;
}

#content-sec-second > p{
    font-size: 25px;
}