@media screen and (max-width: 390px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 200px;
    }

    /* Segunda section */
    #sec-second{
        padding: 40px 30px 60px 30px;
    }

    #content-sec-second{
        gap: 20px;
    }

    #content-sec-second > h1{
        font-size: 30px;
    }

    #content-sec-second > p{
        font-size: 15px;
    }

    /* Terceira section */
    #sec-third{
        height: auto;
        padding: 40px 5px 50px 5px;
        gap: 20px;
    }

    #sec-third > h1{
        font-size: 30px;
        text-align: center;
    }

    #todas-acoes{
        gap: 30px;
    }

    .duo{
        flex-direction: column;
        gap: 40px;
    }

    p.acao-subtitulo{
        font-size: 15px;
    }

    .acao-imgs{
        justify-content: center;
        gap: 20px;
    }

    .img-da-acao{
        width: 130px;
        height: 200px;
    }

    p#sec-third-info{
        width: 280px;
        font-size: 13px;
    }
}

@media only screen and (min-width: 390px) and (max-width: 459px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 200px;
    }

    /* Segunda section */
    #sec-second{
        padding: 40px 30px 60px 30px;
    }

    #content-sec-second{
        gap: 20px;
    }

    #content-sec-second > h1{
        font-size: 30px;
    }

    #content-sec-second > p{
        font-size: 15px;
    }

    /* Terceira section */
    #sec-third{
        height: auto;
        padding: 40px 15px 50px 15px;
        gap: 20px;
    }

    #sec-third > h1{
        font-size: 30px;
        text-align: center;
    }

    #todas-acoes{
        gap: 30px;
    }

    .duo{
        flex-direction: column;
        gap: 40px;
    }

    p.acao-subtitulo{
        font-size: 15px;
    }

    .acao-imgs{
        justify-content: center;
        gap: 20px;
    }

    .img-da-acao{
        width: 150px;
        height: 210px;
    }

    p#sec-third-info{
        width: 280px;
        font-size: 13px;
    }
}

@media only screen and (min-width: 459px) and (max-width: 599px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 250px;
    }

    /* Segunda section */
    #sec-second{
        padding: 40px 50px 60px 50px;
    }

    #content-sec-second{
        gap: 20px;
    }

    #content-sec-second > h1{
        font-size: 35px;
    }

    #content-sec-second > p{
        font-size: 20px;
    }

    /* Terceira section */
    #sec-third{
        height: auto;
        padding: 40px 10px 50px 10px;
        gap: 20px;
    }

    #sec-third > h1{
        font-size: 35px;
        text-align: center;
    }

    #todas-acoes{
        gap: 30px;
    }

    .duo{
        flex-direction: column;
        gap: 40px;
    }

    p.acao-subtitulo{
        font-size: 20px;
    }

    .acao-imgs{
        justify-content: center;
        gap: 20px;
    }

    .img-da-acao{
        width: 170px;
        height: 230px;
    }

    p#sec-third-info{
        width: 280px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 599px) and (max-width: 767px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 300px;
    }

    /* Segunda section */
    #sec-second{
        padding: 40px 0 60px 0;
    }

    #content-sec-second{
        width: 550px;
    }

    #content-sec-second > h1{
        font-size: 35px;
    }

    #content-sec-second > p{
        font-size: 20px;
    }

    /* Terceira section */
    #sec-third{
        height: auto;
        padding: 40px 10px 50px 10px;
        gap: 20px;
    }

    #sec-third > h1{
        font-size: 35px;
        text-align: center;
    }

    #todas-acoes{
        gap: 30px;
    }

    .duo{
        flex-direction: column;
        gap: 40px;
    }

    p.acao-subtitulo{
        font-size: 20px;
    }

    .acao-imgs{
        justify-content: center;
        gap: 20px;
    }

    .img-da-acao{
        width: 170px;
        height: 230px;
    }

    p#sec-third-info{
        width: 280px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 400px;
    }

    /* Segunda section */
    #content-sec-second{
        width: 700px;
    }

    #content-sec-second > h1{
        font-size: 40px;
    }

    /* Terceira section */
    #sec-third{
        height: auto;
        padding: 40px 10px 50px 10px;
        gap: 20px;
    }

    #sec-third > h1{
        font-size: 40px;
        text-align: center;
    }

    #todas-acoes{
        gap: 30px;
    }

    .duo{
        gap: 40px;
    }

    p.acao-subtitulo{
        font-size: 25px;
    }

    .acao-imgs{
        justify-content: center;
        gap: 20px;
    }

    .img-da-acao{
        width: 150px;
        height: 230px;
    }

    p#sec-third-info{
        width: 580px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* MAIN */
    /* Segunda section */
    #content-sec-second{
        width: 920px;
    }
}