@media screen and (max-width: 390px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 200px;
    }
}

@media only screen and (min-width: 390px) and (max-width: 459px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 200px;
    }
}

@media only screen and (min-width: 459px) and (max-width: 599px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 250px;
    }
}

@media only screen and (min-width: 599px) and (max-width: 767px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 300px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    /* MAIN */
    /* Primeira section */
    #sec-first{
        height: 400px;
    }
}